<template>
    <div class="card">
        <h5 class="card-header">Department</h5>
        <div class="card-body">
            <div class="form-group">
                <label for="exampleFormControlInput1">Name</label>
                <input type="text"
                       class="form-control"
                       v-bind:class="{ 'is-invalid': errors.name }"
                       id="exampleFormControlInput1"
                       v-model="name">
                <div class="invalid-feedback">
                    {{ errors.name_error }}
                </div>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control"
                          id="exampleFormControlTextarea1"
                          rows="3"
                          v-model="description"></textarea>
            </div>

            <div class="form-group mb-3">
                <label for="inputGroupFile01">Logo</label>
                <div class="custom-file">
                    <input type="file"
                           class="custom-file-input"
                           v-bind:class="{ 'is-invalid': errors.attachment }"
                           @change="onAttachmentChange"
                           id="inputGroupFile01">
                    <div class="invalid-feedback">
                        {{ errors.attachment_error }}
                    </div>
                    <label class="custom-file-label" for="inputGroupFile01">{{ file_name }}</label>
                </div>
            </div>

            <div class="row mb-3" v-show="logo">
                <div class="col-md-2">
                    <img class="img-fluid"
                         v-bind:src="'/'+logo" alt="">
                </div>
            </div>

            <h5><strong>Users</strong></h5>

            <div class="form-check" v-for="(user, index) in users">
                <input class="form-check-input"
                       type="checkbox"
                       v-bind:value="user.id"
                       v-model="user.departments.length"
                       v-bind:id="index">
                <label class="form-check-label"
                       v-bind:for="index">
                    {{ user.name }}
                </label>
            </div>

            <button
                    class="btn btn-primary mt-4 mr-3"
                    @click="send">Send
            </button>
            <span style="color:green;" v-show="saved">saved</span>
        </div>
    </div>
</template>

<script>
    export default {
        name   : 'department-add-edit',
        props  : {
            department: {},
            users     : {},
        },
        data() {
            return {
                saved      : false,
                id         : '',
                name       : '',
                description: '',
                logo       : '',
                image      : '',
                file_name  : 'Choose file',
                errors     : {
                    name            : false,
                    name_error      : '',
                    attachment      : false,
                    attachment_error: '',
                },
            }
        },
        mounted() {
            if (this.department) {
                this.id          = this.department.id;
                this.name        = this.department.name;
                this.description = this.department.description;
                this.logo        = this.department.logo;
            }
        },
        methods: {
            onAttachmentChange(e) {
                this.image     = e.target.files[0];
                this.file_name = e.target.files[0].name;
            },
            send() {
                let self           = this;
                let selected_users = [];

                $('input:checkbox:checked').each(function () {
                    selected_users.push($(this).val());
                });

                const config   = {'content-type': 'multipart/form-data'};
                const formData = new FormData();
                formData.append('attachment', this.image);
                formData.append('id', this.id);
                formData.append('name', this.name);
                formData.append('description', this.description);
                formData.append('selected_users', selected_users);

                axios.post(
                    '/departments/department-save',
                    formData,
                    config
                ).then(function (response) {

                    self.saved = true;

                    setTimeout(function () {
                        window.location.href = '/departments/'+response.data.department_id;
                    }, 1000);

                }).catch(function (error) {

                    let response_obj = error.response.data.errors;
                    if (response_obj.name) {
                        self.errors.name       = true;
                        self.errors.name_error = response_obj.name[0];
                    } else {
                        self.errors.name = false;
                    }
                    if (response_obj.attachment) {
                        self.errors.attachment       = true;
                        self.errors.attachment_error = response_obj.attachment[0];
                    } else {
                        self.errors.attachment = false;
                    }

                });

            }
        },
    }
</script>
