<template>
    <button
            class="btn btn-danger"
            @click="del">Delete
    </button>
</template>

<script>
    export default {
        name   : 'user-delete',
        props  : {
            user_id: {},
        },
        data() {
            return {}
        },
        mounted() {
        },
        methods: {
            del() {
                if (!confirm('Удалить?')) {
                    return;
                }
                axios.post('/users/user-delete', {
                    user_id: this.user_id
                }).then(function (response) {
                    if (response.data.success) {
                        setTimeout(function () {
                            window.location.href = window.location.href;
                        }, 500);
                    } else {
                    }
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors || {};
                    }
                });

            }
        },
    }
</script>
