<template>
    <div class="card">
        <h5 class="card-header">User</h5>
        <div class="card-body">
            <div class="form-group">
                <label for="exampleFormControlInput1">Name</label>
                <input type="text"
                       required
                       class="form-control"
                       v-bind:class="{ 'is-invalid': errors.name }"
                       id="exampleFormControlInput1"
                       v-model="name">
                <div class="invalid-feedback">
                    {{ errors.name_error }}
                </div>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput2">E-mail</label>
                <input type="email"
                       required
                       class="form-control"
                       v-bind:class="{ 'is-invalid': errors.email }"
                       id="exampleFormControlInput2"
                       autocomplete="off"
                       v-model="email">
                <div class="invalid-feedback">
                    {{ errors.email_error }}
                </div>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput3">Passwords</label>
                <input type="password"
                       required
                       class="form-control"
                       v-bind:class="{ 'is-invalid': errors.password }"
                       id="exampleFormControlInput3"
                       autocomplete="off"
                       v-model="password">
                <div class="invalid-feedback">
                    {{ errors.password_error }}
                </div>
            </div>

            <button
                    class="btn btn-primary mt-4 mr-3"
                    @click="send">Send
            </button>
            <span style="color:green;" v-show="saved">saved</span>
        </div>
    </div>
</template>

<script>
    export default {
        name   : 'user-add-edit',
        props  : {
            user: {},
        },
        data() {
            return {
                saved   : false,
                errors  : {
                    email         : false,
                    email_error   : '',
                    name          : false,
                    name_error    : '',
                    password      : false,
                    password_error: '',
                },
                id      : '',
                name    : '',
                email   : '',
                password: '',
            }
        },
        mounted() {
            if (this.user) {
                this.id    = this.user.id;
                this.name  = this.user.name;
                this.email = this.user.email;
            }
            console.log(this.user);
        },
        methods: {
            send() {
                let self = this;

                axios.post('/users/user-save', {
                    id      : this.id,
                    name    : this.name,
                    email   : this.email,
                    password: this.password,
                }).then(function (response) {

                    self.saved = true;

                    self.errors.name     = false;
                    self.errors.email    = false;
                    self.errors.password = false;

                }).catch(function (error) {

                    let response_obj = error.response.data.errors;
                    if (response_obj.email) {
                        self.errors.email       = true;
                        self.errors.email_error = response_obj.email[0];
                    } else {
                        self.errors.email = false;
                    }
                    if (response_obj.name) {
                        self.errors.name       = true;
                        self.errors.name_error = response_obj.name[0];
                    } else {
                        self.errors.name = false;
                    }
                    if (response_obj.password) {
                        self.errors.password       = true;
                        self.errors.password_error = response_obj.password[0];
                    } else {
                        self.errors.password = false;
                    }

                });

            }
        },
    }
</script>
